<html ng-app>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
        <script>
            function clientController($scope, $http) {
                $http.get('/wsserver/clients.php')
                .success(function(data, status, headers, config) {
                    alert(data);
                    $scope.clients=data;
                })
            }
        </script>
    </head>
    <body ng-controller='clientController'>
        <h2>Client list</h2>
        <table border>
            <tr ng-repeat="cl in clients.clients">
              <td>{{cl.id}}</td>
              <td>{{cl.fullname}}</td>
            </tr>
        </table>
        
    </body>
</html>